<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jxgm.health.dao.UserDao">

    <!--查询用户-->
    <select id="checkUser" parameterType="java.lang.String" resultType="User">
        select id,username,password,email,role,state from user
            where username = #{username} and password = #{password} and state = 1;
    </select>
    
    <select id="listUser" resultType="user">
        SELECT id,username,password,email,role,state FROM user
        <if test="username != null">
            WHERE username LIKE #{username}
        </if>
        LIMIT #{pageStart},#{pageSize}
    </select>

    <select id="getUserCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM user
        <if test="username != null">
            WHERE username LIKE #{username}
        </if>
    </select>

    <update id="updateState">
        UPDATE user SET state = #{state} WHERE id = #{id};
    </update>

    <insert id="addUser">
        INSERT INTO user(username,password,email,role,state)
            VALUES(#{username},#{password},#{email},#{role},#{state})
    </insert>

    <delete id="deleteUser">
        DELETE FROM user
            WHERE id = #{id}
    </delete>

    <select id="getUpdateUser" resultType="user">
        SELECT id,username,password,email,role,state
            FROM user
        WHERE id = #{id}
    </select>

    <update id="updateUser" parameterType="user">
        UPDATE user SET username = #{username},
            password = #{password},email = #{email}
        WHERE id = #{id}
    </update>


</mapper>